html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--Neutral-2);
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 720px;
    height: 470px;
    background-color: var(--Neutral);
    border-radius: 15px;
}

.informacoes-1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 25px 0 0 30px;
    position: relative;
}

.informacoes-1 p {
    color: var(--Neutral-5);
}

.informacoes-1 span {
    color: var(--Primary-2);
}

.campo-preenchido {
    width: 300px;
    height: 33px;
    border-radius: 3px;
    border: 2px solid var(--Primary);
}

.campo-vazio {
    width: 300px;
    height: 33px;
    border-radius: 3px;
    border: 2px solid var(--Primary-2);
}

.campo-padrao {
    width: 300px;
    height: 33px;
    border-radius: 3px;
    border: 2px solid var(--Neutral-5);
}

.campo-preenchido-2 {
    width: 142.5px;
    height: 32px;
    border-radius: 3px;
    border: 2px solid var(--Primary);
}

.campo-vazio-2 {
    width: 142.5px;
    height: 32px;
    border-radius: 3px;
    border: 2px solid var(--Primary-2);
}

.campo-padrao-2 {
    width: 142.5px;
    height: 32px;
    border-radius: 3px;
    border: 2px solid var(--Neutral-5);
}

.informacoes-1 input::placeholder {
    width: 8px;
    background-color: var(--Neutral-3);
    padding: 10px;
    color: var(--Neutral-5);
    font-weight: 700;
    font-size: 1.5rem;
}

.titulo {
    display: flex;
}

.titulo h1 {
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 18px;
    color: var(--Neutral-6);
}

.titulo .limpar-campos {
    height: 15px;
    margin-left: 83px;
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 5px;
    color: var(--Neutral-5);
    background-color: var(--Neutral);
    border: none;
}

.titulo .limpar-campos:hover {
    color: var(--Neutral-6);
    transition: 0.3s ease-in-out;
}

.informacoes-2 {
    display: flex;
    gap: 15px;
    padding: 20px 0 0 30px;
}

.selecao-ano p,
.selecao-porcentagem p {
    margin-bottom: 10px;
    color: var(--Neutral-5);
}

.selecao-ano input::placeholder {
    background-color: var(--Neutral-3);
    position: relative;
    left: 63%;
    padding: 10px;
    font-weight: 700;
    color: var(--Neutral-5);
}

.selecao-porcentagem input::placeholder {
    background-color: var(--Neutral-3);
    position: relative;
    left: 77%;
    padding: 10px;
    font-weight: 700;
    color: var(--Neutral-5);
}

.informacoes-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.informacoes-3 p {
    padding: 19px 0 0 30px;
    color: var(--Neutral-5);
}

.informacoes-3 span {
    color: var(--Primary-2);
}

.borda-ativo {
    border: 2px solid var(--Primary);
    background-color: hsla(61, 56%, 56%, 0.227);
}

.borda-desativado {
    border: 2px solid var(--Neutral-5);
    background-color: var(--Neutral);
}

.opcao-1,
.opcao-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 33px;
    margin-left: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.opcao-1:hover,
.opcao-2:hover {
    border: 2px solid var(--Primary);
    transition: 0.3s ease-in-out;
}

.opcao-1 input,
.opcao-2 input {
    margin-left: 10px;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

.input-ativo {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid var(--Neutral-5);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}

.input-ativo::after {
    content: '';
    width: 8px;
    height: 8px;
    background: var(--Primary);
    border-radius: 50%;
    position: absolute;
    top: 1.8px;
    left: 1.9px;
    opacity: 0;
    transition: opacity 0.2s;
}

input[type="radio"]:checked+.opcao-1 {
    border: 2px solid var(--Primary);
}

input[type="radio"]:checked+.input-ativo {
    border: 2px solid var(--Primary);
}

input[type="radio"]:checked+.input-ativo::after {
    opacity: 1;
}

.opcao-1 label[for="repayment"],
.opcao-2 label[for="interest"] {
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--Neutral-6);
    cursor: pointer;
}

.conteudo .imagem {
    position: relative;
    left: 50%;
    bottom: 95%;
    width: 360px;
    height: 469px;
    border-radius: 0 15px 15px 60px;
    background-color: var(--Neutral-6);
}

.conteudo .imagem img {
    width: 140px;
    margin-left: 110px;
    margin-top: 120px;
}

.mensagem-de-pagamento {
    position: relative;
    left: 3%;
}

.mensagem-de-pagamento h2 {
    color: var(--Neutral);
    font-weight: 700;
    font-size: 1.7rem;
    position: relative;
    left: 25%;
    margin-bottom: 15px;
}

.mensagem-de-pagamento p {
    width: 320px;
    color: var(--Neutral-4);
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 25px;
}

.mensagem-de-pagamento span {
    color: var(--Neutral-4);
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 61px;
}

.button button {
    margin: 25px 0 0 30px;
    padding: 10px 10px 10px 50px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.3rem;
    border: none;
    background-color: var(--Primary);
    cursor: pointer;
}

.button button img {
    width: 15px;
    position: relative;
    right: 105%;
    top: 2px;
}

.selecao-ano {
    display: flex;
    flex-direction: column;
}

.selecao-porcentagem {
    display: flex;
    flex-direction: column;
}

.selecao-ano span,
.selecao-porcentagem span {
    margin-top: 8px;
    color: var(--Primary-2);
}

.msg-erro {
    margin-left: 30px;
}

.erro {
    opacity: 0;
}

.display-none {
    display: none;
}

.info-de-pagamento-concluido .msg-resultado {
    color: var(--Neutral);
    padding: 28px 0 0 31px;
}

.info-de-pagamento-concluido .msg {
    width: 320px;
    color: var(--Neutral-4);
    padding: 12px 0 0 31px;
    font-size: 1.1rem;
}

.valor-de-pagamento {
    width: 300px;
    height: 215px;
    background-color: hsl(201, 61%, 10%);
    margin: 50px 0 0 31px;
    box-shadow: 0px -2px 0px 0px var(--Primary);
    border-radius: 2%;
    padding: 18px;
}

.valor-de-pagamento .valor-principal {
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--Primary);
    margin-top: 12px;
}

.valor-de-pagamento .msg-2 {
    color: var(--Neutral-4);
}

.valor-de-pagamento .msg-3 {
    color: var(--Neutral-4);
    margin-top: 30px;
}

.valor-de-pagamento .valor {
    color: var(--Neutral);
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 7px;
}

.border {
    border: 1px solid var(--Neutral-4);
    margin-top: 23px;
}
